<%- include("header") %>
<div class="section background-gray" style="background-image: url(/img/photo-1511406239133-2c1130a2d754.jpg);">
    <div class="container">
        <div class="v-padding-3"></div>
        <div class="calHeight" heightRatio="0.1"></div>
        <span class="text-big">Our Vision & Mission</span>
        <div class="calHeight" heightRatio="0.3"></div>
    </div>
</div>
<div class="section background-white">
    <div class="container">
        <div class="v-padding-6 h-padding-1">
            <span class="text-article text-serif">
                Since 2017, we have brought instant market access in Asia for high technology companies around the
                world. Over the years, our company has established its presence in the business world by developing
                long-lasting relationships.
            </span>
        </div>
        <div>
            <div class="partition partition-6 h-padding-1">
                <span class="text-title">Vision</span><br>
                <br>
                <div class="text-article">
                    <span class="text-serif">
                        The vision for Blockchain Korea is to assemble the most knowledgeable and capable advisors to
                        mentor and provide strategic direction to game-changing ICT, FINTECH and blockchain-based
                        services
                        products and entrepreneurs around the world.<br>
                        <br>
                        The partnership will create a successful enterprise reference sites, on and offline resellers
                        and
                        channels, managed by a our advisors and partner whose mandate is to:<br>
                    </span><br>
                    <span class="text-serif">
                        <ul>
                            <li>
                                Identify, evaluate and invest in projects.<br>
                            </li>
                            <li>
                                Market Access, Market Entry, Financial consulting<br>
                            </li>
                            <li>
                                Mentoring portfolio companies as they develop into world-changing organizations.<br>
                            </li>
                            <li>
                                Partners and Advisors will use their own selection criteria for deciding which
                                innovative
                                technology projects will receive support.<br>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="partition partition-6 h-padding-1">
                <span class="text-title">Mission</span><br>
                <br>
                <div class="text-article">
                    <span class="text-serif">
                        We strive to help our clients establish market presence through partnering with major local
                        companies whereby leveraging already established customer channels and quickly generating
                        revenues.
                        We apply a keen understanding on how to cost-effectively and precisely produce quality results,
                        adding value and managing risks for any given client.
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="v-padding-6"></div>
    </div>
</div>
<%- include("footer") %>