<%- include("header") %>
<div class="section background-black" style="background-image: url(/img/photo-1533637324006-841a6da5300e.jpg);">
    <div class="container">
        <div class="v-padding-3"></div>
        <div class="calHeight" heightRatio="0.1"></div>
        <span class="text-big color-white">CONTACT</span>
        <div class="calHeight" heightRatio="0.3"></div>
    </div>
</div>
<div class="section background-white">
    <div class="container v-padding-9">
        <span class="text-title">Contact</span><br>
        <br>
        <br>
        <div class="partition partition-6">
            <span class="text-serif">
                <b>All General Inquiries and Clients Consulting</b>
            </span><br>
            <a href="mailto:inquiry@blockchain-korea.com">inquiry@blockchain-korea.com</a><br>
        </div>
        <div class="partition partition-6">
            <span class="text-serif">
                <b>Major Partnerships</b>
            </span><br>
            <a href="mailto:ceo@blockchain-korea.com">ceo@blockchain-korea.com</a><br>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="v-padding-9"></div>
    <div class="v-padding-9"></div>
</div>
<%- include("footer") %>