<div class="footer">
    <div class="container">
        <div class="v-padding-2"></div>
        <span class="text-footer">
            Copyright © 2018 Blockchain Korea, INC.<br>
            All rights reserved.
        </span>
        <div class="v-padding-4"></div>
    </div>
</div>
<script src="/js/common.js"></script>
</body>

</html>