<div class="footer">
    <div class="container">
        <div class="v-padding-2"></div>
        <span class="text-footer">
            Copyright © 2018 Blockchain Korea, INC.<br>
            All rights reserved.
        </span>
        <div class="v-padding-4"></div>
    </div>
    <% if( legal_info ) { %>
    <div class="container" style="color: #4e5465;">
        <div class="partition partition-6">
            This site and all of its contents, including all text and images, (collectively "Content") are
            owned or licensed by Blockchain Korea, INC. its subsidiaries or related companies.<br>
            All rights are reserved unless otherwise noted. You are granted a limited, non-sublicenseable,
            non‑exclusive right to access this site
            and print the Content only for your personal, non‑commercial, and informational use.<br>
            Any other use of any Content without the express written permission of Blockchain Korea, INC is strictly
            prohibited.<br>
            If you have any issues or questions, please email us at contact pages.<br>
        </div>
        <div class="partition partition-6">
            BY ACCESSING AND/OR USING OUR SITES OR OTHERWISE AGREED BY YOU IN RELATION TO YOUR PURCHASE/USE OF OUR
            SERVICES,
            YOU CONSENT TO THE TERMS AND CONDITIONS OF OUR PRIVACY POLICY, WHICH MAY BE AMENDED, REPLACED, REVISED
            AND/OR UPDATED FROM TIME TO TIME WITHOUT NOTICE,
            AND TO OUR COLLECTION, USE, DISCLOSURE AND/OR PROCESSING OF PERSONAL INFORMATION FOR THE PURPOSES STATED
            BELOW. <br>
            Please be informed that there are circumstances where it is inevitable for us to share and disclose your
            information to third parties. Some of such circumstances and examples of third party entities with whom we
            may share your information include without limitation:<br>
            • Our subsidiaries and affiliates<br>
            • Third party service business partners, including without limitation our legal advisors, auditors,
            insurers and consultants<br>
            • Other parties when required by law in the territory of Republic of Korea. <br>
            IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF OUR PRIVACY POLICY, PLEASE DO NOT ACCESS/USE OUR SITES,
            OR PROVIDE US WITH YOUR INFORMATION.<br>
        </div>
        <div class="clearfix"></div>
    </div>
    <% } %>
</div>
<script src="/js/common.js"></script>
</body>

</html>