<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>BLOCKCHAIN KOREA</title>
    <meta name="title" content="BLOCKCHAIN KOREA">
    <meta name="description" content="">
    <meta name="thumbnail" content="">
    <meta name="keywords" content="blockchain, korea">
    <meta name="author" content="https://github.com/honeymaro">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="https://github.com/honeymaro">
    <meta name="twitter:image" content="">
    <meta name="twitter:title" content="BLOCKCHAIN KOREA">
    <meta name="twitter:description" content="">

    <meta property="og:title" content="BLOCKCHAIN KOREA" />
    <meta property="og:site_name" content="BLOCKCHAIN KOREA" />
    <meta property="og:type" content="page" />
    <meta property="og:url" content="https://blockchain-korea.com/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-left">
                <div class="header-logo">
                    BLOCKCHAIN<br>
                    KOREA
                </div>
            </div>
            <div class="header-right">
                <div class="header-menu">

                </div>
            </div>
        </div>
    </div>