<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>BLOCKCHAIN KOREA</title>
    <meta name="title" content="BLOCKCHAIN KOREA" />
    <meta name="description" content="We provide technology incubation, strategic business development and market acceleration services for companies in ICT and Blockchain Technology industries." />
    <meta name="thumbnail" content="" />
    <meta name="keywords" content="blockchain, korea" />
    <meta name="author" content="https://github.com/honeymaro" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="https://github.com/honeymaro" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:title" content="BLOCKCHAIN KOREA" />
    <meta name="twitter:description" content="" />

    <meta property="og:title" content="BLOCKCHAIN KOREA" />
    <meta property="og:site_name" content="BLOCKCHAIN KOREA" />
    <meta property="og:type" content="page" />
    <meta property="og:url" content="https://blockchain-korea.com/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="We provide technology incubation, strategic business development and market acceleration services for companies in ICT and Blockchain Technology industries." />
    <meta name="google-site-verification" content="SZHGtyXE-q6r9A_gNJtALgd3qq-31zo1jPrGidhjZNc" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132673349-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-132673349-1");
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5746349470098124",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="header-left">
          <a class="header-logo" href="/"> </a>
        </div>
        <div class="header-right">
          <div class="header-menu">
            <a href="/">Home</a>
            <a href="/about">Our Vision & Mission</a>
            <a href="/partners">Partners</a>
            <a href="/funding">Global Fund</a>
            <a href="/contact">Contact</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <a class="header-more mobileOnly" href="#">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
  </body>
</html>
