<%- include("header") %>
<div class="section background-gray" style="background-image: url(/img/photo-1534274867514-d5b47ef89ed7.jpg);">
    <div class="container">
        <div class="v-padding-3"></div>
        <div class="calHeight" heightRatio="0.1"></div>
        <span class="text-big">GROWTH THAT LASTS</span>
        <div class="calHeight" heightRatio="0.3"></div>
    </div>
</div>
<div class="section background-white">
    <div class="container">
        <div class="v-padding-9">
            <span class="text-title">GROWTH THAT LASTS</span><br>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="partition partition-4 v-padding-5 text-article">
                <span class="text-serif">
                    We provide technology incubation, strategic business development and market acceleration services
                    for
                    companies in ICT and Blockchain Technology industries.<br>
                    <br>
                    Blockchain Korea is a technology incubator and an outsourced works with fast-growing, pre-IPO
                    global
                    companies or domestic companies providing market access and technology partnerships in Asia.<br>
                    <br>
                    We provide global access to top projects and innovation in strong focus in Korea. Education of
                    Technology to early and late stage projects seeking market feasibility, professional local business
                    consulting, Investment and financial advisory, and corporate partnerships.<br>
                </span>
            </div>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="partition partition-4 v-padding-5 text-article">
                <span class="text-serif">
                    We are Korean Legal entity registered to Seoul, Korea with strong leaders and advisors partners
                    around
                    the world located in HK, US, Gibraltar, Malta, Estonia, and Singapore.<br>
                    <br>
                    We help global start up companies Business Development and advisory services in Korea and worldwide
                    in
                    blockchain technology applications, strategic partnerships, FINTECH Operation and Management.<br>
                    <br>
                    If you are thinking about Korea and Asia Market Entry or globalize your Korean Operations, we can
                    be
                    your glocalized partners.<br>
                </span>
            </div>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<%- include("footer") %>