<%- include("header") %>
<div class="section background-black" style="background-image: url(/img/photo-1533637324006-841a6da5300e.jpg);">
    <div class="container">
        <div class="v-padding-3"></div>
        <div class="calHeight" heightRatio="0.1"></div>
        <span class="text-big color-white">Partners</span>
        <div class="calHeight" heightRatio="0.3"></div>
    </div>
</div>
<div class="section">
    <div class="container v-padding-9">
        <div>
            <span class="text-title">Partners</span><br>
            <br>
            <span class="text-serif text-article">Here are some of the past and present client companies that we have
                worked with. These companies exemplify our focus on ICT industries.</span><br>
            <br>
            <br>
        </div>
        <div class="align-center">
            <img src="/img/130522.png" alt="" style="width: 90%; height: auto; max-width: 900px;">
            <br>
            <br>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div>
            <span class="text-title">Clients and Partners</span><br>
            <br>
            <span class="text-serif text-article">
                If you would like to partner with us, please fill out the form below and send it to email,<br>
                <a href="mailto:inquiry@blockchain-korea.com">inquiry@blockchain-korea.com</a></span><br>
                <br>
                <br>
        </div>
    </div>
</div>
<%- include("footer") %>